configuration {
  combi-modi: "window,drun";
  modi: "combi";
  width: 50;
  lines: 15;
  terminal: "xfce4-terminal";

  font: "hack 11";
  show-icons: true;
  theme: "/usr/share/rofi/themes/gruvbox-dark.rasi";
}
